  <div class="widget HTML" id="HTML4">
    <h2 class="title">Blogger news</h2>
    <div class="widget-content">

      <ul id="rssdata1" style=""><li><a href="http://blog.btemplates.com/blogger-infographic/">Blogger in one image.</a></li><li><a href="http://blog.btemplates.com/customizing-blogger-templates-easily-firebug/">Customizing Blogger templates easily with Firebug</a></li><li><a href="http://blog.btemplates.com/papercut-really-cool-social-icons/">PaperCut, really cool social icons.</a></li><li><a href="http://blog.btemplates.com/blogger-dynamic-views/">Blogger Dynamic Views</a></li><li><a href="http://blog.btemplates.com/freedream-blogger-theme/">FreeDream, Blogger theme</a></li></ul><div style="display: none;" id="rssloading1">Loading...</div>
    </div>
    <div class="clear"></div>
    <span class="widget-item-control">
      <!-- <span class="item-control blog-admin">
        <a class="quickedit" href="http://www.blogger.com/rearrange?blogID=4285083475741806618&amp;widgetType=HTML&amp;widgetId=HTML4&amp;action=editWidget&amp;sectionId=sidebartop" onclick='return _WidgetManager._PopupConfig(document.getElementById("HTML4"));' target="configHTML4" title="Edit">
          <%#= image_tag 'icon18_wrench_allbkg.png', height: '18', width: '18' %>
        </a>
      </span> -->
    </span>
    <div class="clear"></div>
  </div>