<footer class="site-footer grid_6 cf" id="colophon" role="contentinfo">
  <div class="site-info">
    <div class="fcred">
      Copyright 2016 <a href="https://short-notes.herokuapp.com/">ShortNotes</a> | Powered by <a href="https://short-notes.herokuapp.com/">Blog</a>
      <br>Design by <a href="https://short-notes.herokuapp.com/" target="_blank">ShortNotes</a>
    </div>
  </div><!-- .site-info -->
</footer><!-- #colophon .site-footer -->