<header class="site-header grid_6 paprh cf" id="masthead" role="banner">
	<div class="logo grid_3 omega">
		<div class="header section" id="header"><div class="widget Header" id="Header1">
			<div id="header-inner">
				<div class="titlewrapper">
					<h1 class="site-title">
						<a href="https://short-notes.herokuapp.com/">Short Notes</a>
					</h1>
				</div>
				<div class="descriptionwrapper">
					<h2 class="site-description">Intention is more important than implementation.</h2>
				</div>
			</div>
		</div></div>
	</div>
	<div class="grid_3 alpha">
		<div class="dtime">
			<%= Date.today.strftime("%A, %B %d,%Y") %>
		</div>
		<form action="" id="searchform" method="get">
			<label class="assistive-text" for="s">Search</label>
			<input class="field" id="s" name="q" placeholder="Search" type="text">
			<input class="submit" id="searchsubmit" value="Search" type="submit">
		</form>
	</div>
</header><!-- #masthead .site-header -->