<div class="grid_6 cf" id="three_tier ">
  <div id="fmenu">
    <div class="menu-primary-container" id="topmenu">
      <div class="nbttopmenu section" id="nbttopmenu"><div class="widget PageList" id="PageList8">
        <div class="widget-content">
          <ul class="sfmenu sf-js-enabled sf-shadow" id="menu-primary">
            <li id="currentpage"><a href="https://short-notes.herokuapp.com/">Home</a></li>
            <li><a href="https://short-notes.herokuapp.com/">About</a></li>
            <li><a href="https://short-notes.herokuapp.com/">Contact</a></li>
        <% if user_signed_in? %>
            <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
        <%# else %>
            <!--         <li><%#= link_to "Sign Up", new_user_registration_path %></li>
                    <li><%#= link_to "Sign In", new_user_session_path %></li>  -->
          </ul>
         <% end %>
          <div class="clear"></div>
          <!-- <span class="widget-item-control">
            <span class="item-control blog-admin">
              <a class="quickedit" href="http://www.blogger.com/rearrange?blogID=4285083475741806618&amp;widgetType=PageList&amp;widgetId=PageList8&amp;action=editWidget&amp;sectionId=nbttopmenu" onclick='return _WidgetManager._PopupConfig(document.getElementById("PageList8"));' target="configPageList8" title="Edit">
                <!-- <img alt="" src="Newspress_files/icon18_wrench_allbkg.png" height="18" width="18"> 
                <%#= image_tag 'icon18_wrench_allbkg.png', height: '18', width: '18' %>
              </a>
            </span> -->
          </span>
          <div class="clear"></div>
        </div>
      </div></div>
    </div>
  </div>
<!--  <div id="smenu">
    <div class="menu-secondary-container" id="submenu">
      <ul class="sfmenu sf-js-enabled sf-shadow" id="menu-secondary">
        <li><a href="#">Category 1</a></li>
        <li><a href="#">Featured</a></li>
        <li><a class="sf-with-ul" href="#">Category 2<span class="sf-sub-indicator"> »</span></a>
          <ul style="display: none; visibility: hidden;" class="sub-menu">
            <li><a href="#">Child-1</a></li>
            <li><a href="#">Child-2</a></li>
            <li><a class="sf-with-ul" href="#">Child-3<span class="sf-sub-indicator"> »</span></a>
              <ul style="display: none; visibility: hidden;" class="sub-menu">
                <li><a href="#">Grand-child 1</a></li>
                <li><a href="#">Grand-child 2</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="#">Category 3</a></li>
        <li><a href="#">Uncategorized</a></li>
      </ul>
    </div>
  </div> -->
  <div class="cf paprh" id="flashn">
    <h3>Flash news:</h3>
    <div style="display: block; position: relative; height: 38px; overflow: hidden;" id="ticker">
      <ul style="position: absolute; margin: 0px; top: 0px;">
        <li style="margin: 0px; display: list-item;"><a style="margin: 0px;" href="">NEWS-5-TITLE-HERE</a></li><li style="margin: 0px; display: list-item;"><a style="margin: 0px;" href="">NEWS-1-TITLE-HERE</a></li><li style="margin: 0px; display: list-item;"><a style="margin: 0px;" href="">NEWS-2-TITLE-HERE</a></li><li style="margin: 0px; display: list-item;"><a style="margin: 0px;" href="">NEWS-3-TITLE-HERE</a></li><li style="margin: 0px; display: list-item;"><a style="margin: 0px;" href="">NEWS-4-TITLE-HERE</a></li></ul>
      </div>
    </div>
  </div>