<div class="widget HTML" id="HTML5">
<h2 class="title">Blogger templates</h2>
<div class="widget-content">

</div>
<div class="clear"></div>
<span class="widget-item-control">
<!--   <span class="item-control blog-admin">
    <a class="quickedit" href="http://www.blogger.com/rearrange?blogID=4285083475741806618&amp;widgetType=HTML&amp;widgetId=HTML5&amp;action=editWidget&amp;sectionId=sidebartop" onclick='return _WidgetManager._PopupConfig(document.getElementById("HTML5"));' target="configHTML5" title="Edit">
      <%#= image_tag 'icon18_wrench_allbkg.png', height: '18', width: '18' %>
    </a>
  </span> -->
</span>
<div class="clear"></div>
</div>