<div class="comments" id="comments">
  <a name="comments"></a>
  <h4>
    2 comments:
  </h4>
  <div class="comments-content">
    <div id="comment-holder">
      <div id="bc_0_3C" kind="c">
        <div id="bc_0_3CT">
          <div id="bc_0_2T" class="comment-thread" kind="r" t="0" u="0">
            <ol id="bc_0_2TB">
              <li id="bc_0_0B" class="comment" kind="b">
                <div class="avatar-image-container">
                  <%= image_tag 'avatar-btemplates.png' %>
                </div>
                <div id="c5251859580683033446" class="comment-block">
                  <div id="bc_0_0M" class="comment-header" kind="m">
                    <cite class="user blog-author">
                      <a rel="nofollow" href="">BTemplates</a>
                    </cite>
                    <span class="icon user blog-author"></span>
                    <span class="datetime secondary-text">
                      <a rel="nofollow" href="http://newspress2-btemplates.blogspot.com/2013/01/lorem-ipsum_4296.html?showComment=1359663632813#c5251859580683033446">January 31, 2013 at 12:20 PM</a>
                    </span>
                  </div>
                  <p id="bc_0_0MC" class="comment-content">Lorem ipsum dolor sit amet.</p>
                  <span id="bc_0_0MN" class="comment-actions secondary-text" kind="m">
                    <a kind="i" href="javascript:;" target="_self" o="r">Reply</a>
                    <span class="item-control blog-admin pid-1592311861">
                      <a o="d" target="_self" href="https://www.blogger.com/delete-comment.g?blogID=4285083475741806618&postID=5251859580683033446">Delete</a>
                    </span>
                  </span>
                </div>
                <div id="bc_0_0BR" class="comment-replies"></div>
                <div id="bc_0_0B_box" class="comment-replybox-single"></div></li>
                <li id="bc_0_1B" class="comment" kind="b">
                  <div class="avatar-image-container">
                    <%= image_tag 'avatar-btemplates.png' %>
                  </div>
                  <div id="c7099670807565269544" class="comment-block">
                    <div id="bc_0_1M" class="comment-header" kind="m">
                      <cite class="user blog-author"><a rel="nofollow" href="https://www.blogger.com/profile/04752887254250043082">BTemplates</a></cite>
                      <span class="icon user blog-author"></span>
                      <span class="datetime secondary-text">
                        <a rel="nofollow" href="http://newspress2-btemplates.blogspot.com/2013/01/lorem-ipsum_4296.html?showComment=1359663633321#c7099670807565269544">January 31, 2013 at 12:20 PM</a>
                      </span>
                    </div>
                    <p id="bc_0_1MC" class="comment-content">Mel putent quaeque an, ut postea melius denique sit. Officiis sensibus at mea, sea at labitur deserunt. Eam dicam congue soluta ut.</p>
                    <span id="bc_0_1MN" class="comment-actions secondary-text" kind="m">
                      <a kind="i" href="javascript:;" target="_self" o="r">Reply</a>
                      <span class="item-control blog-admin pid-1592311861">
                        <a o="d" target="_self" href="https://www.blogger.com/delete-comment.g?blogID=4285083475741806618&postID=7099670807565269544">Delete</a></span>
                      </span></div>
                      <div id="bc_0_1BR" class="comment-replies"></div>
                      <div id="bc_0_1B_box" class="comment-replybox-single"></div></li></ol>
                      <div id="bc_0_2I" class="continue" kind="ci" style="display: none;"><a href="javascript:;" target="_self">Add comment</a></div><div id="bc_0_2T_box" class="comment-replybox-thread"></div><div id="bc_0_2L" class="loadmore loaded" kind="rb"><a href="javascript:;" target="_self">Load more...</a></div></div></div></div></div>
                    </div>
                    <p class="comment-footer">
                    </p><div class="comment-form">
                    <a name="comment-form"></a>
                    <p>
                    </p>
                    <p>Note: Only a member of this blog may post a comment.</p>
                    <a href="" id="comment-editor-src"></a>
                  </div>
                  <p></p>
                  <div id="backlinks-container">
                    <div id="Blog1_backlinks-container">
                    </div>
                  </div>
                </div>
