<div class="post-outer">
<div class="wrapfullpost">
	<article class="post hentry">
		<a name="6594048573928370354"></a>
		<div class="cover">
			<header class="entry-header">
				<h2 class="post-title entry-title">
					<%= post.title %>
				</h2>
				<div class="entry-meta">
					Posted on <time class="entry-date">12:20 PM</time><span> by <span class="author vcard">BTemplates</span></span> with <a href="	" onclick="">2 comments</a>
				</div>
			</header>
			<div class="post-header-line-1"></div>
			<div class="post-body entry-summary entry">
				<p>
					<%= image_tag("Antartic-by-Peter-Rejcek_002.jpg", border: '0', height: '332', width: '500') %>
				</p>
				<p><strong>» A normal paragraph</strong></p><p>Ea eam labores imperdiet, apeirian democritum ei nam, doming neglegentur ad vis. Ne malorum ceteros feugait quo, ius ea liber offendit placerat, est habemus aliquyam legendos id. Eam no corpora maluisset definitiones, eam mucius malorum id. Quo ea idque commodo utroque, per ex eros etiam accumsan.</p><p><strong>» A paragraph format</strong></p><p>Et posse meliore <strong>definitiones (strong)</strong> his, vim <em>tritani vulputate (italic)</em> pertinacia at. <acronym title="Acronym">Augue quaerendum (Acronym)</acronym> te sea, ex <sub>sed</sub> <sup>sint</sup> <span style="text-decoration: line-through;">invenire erroribus</span>. Cu vel ceteros scripserit, te usu modus fabellas mediocritatem. In legere regione instructior eos. Ea repudiandae suscipiantur vim, vel partem labores ponderum in <a href="http://btemplates.com/" title="Templates for Blogger">blogger templates (link).</a></p><p><strong>» A paragraph as code</strong></p><p><code>Mel putent quaeque an, ut postea melius denique sit. Officiis sensibus at mea, sea at labitur deserunt. Eam dicam congue soluta ut.</code></p><p><strong>» A paragraph as blockquote</strong></p><blockquote><p>Eu mei solum oporteat eleifend, libris nominavi maiestatis duo at, quod dissentiet vel te. Legere prompta impedit id eum. Te soleat vocibus luptatum sed, augue dicta populo est ad, et consul diceret officiis duo. Et duo primis nostrum.</p></blockquote><p><strong>» Unordered list</strong></p><ul><li>Blogger templates</li><li>Templates</li><li>Blogs</li><li>Layouts</li><li>Skins</li><li>BTemplates</li></ul><p><strong>» Ordered list</strong></p><ol><li>Login</li><li>Visit <a href="http://btemplates.com/">BTemplates</a></li><li>Download template</li><li>Install</li><li>Enjoy!</li></ol><p><strong>» Heading</strong></p><h1>Heading 1</h1><h2>Heading 2</h2><h3>Heading 3</h3><h4>Heading 4</h4><h5>Heading 5</h5><h6>Heading 6</h6><p><strong>» A table</strong></p><a name="more"></a><table cellpadding="0" cellspacing="0"><tbody><tr><th>Table Header 1</th><th>Table Header 2</th><th>Table Header 3</th></tr><tr><td>Division 1</td><td>Division 2</td><td>Division 3</td></tr><tr class="even"><td>Division 1</td><td>Division 2</td><td>Division 3</td></tr><tr><td>Division 1</td><td>Division 2</td><td>Division 3</td></tr></tbody></table>
				<div style="clear:both;"></div>
				<span class="reaction-buttons">
				</span>
				<div style="clear: both;"></div>
			</div>
			<div style="clear: both;"></div>
			<footer class="entry-meta">
				This entry was posted in : <a href="http://newspress2-btemplates.blogspot.in/search/label/Lorem%201" rel="tag">Lorem 1</a>, <a href="http://newspress2-btemplates.blogspot.in/search/label/Lorem%202" rel="tag">Lorem 2</a>, <a href="http://newspress2-btemplates.blogspot.in/search/label/Lorem%203" rel="tag">Lorem 3</a>
			</footer>
		</div>
		<div class="post-footer">
			<div class="post-footer-line post-footer-line-"></div>
			<div class="post-footer-line post-footer-line-2"></div>
			<div class="post-footer-line post-footer-line-3">
				<span class="item-control blog-admin pid-1592311861">
					<a href="https://www.blogger.com/post-edit.g?blogID=4285083475741806618&postID=6594048573928370354&from=pencil" title="Edit Post">
						<img alt="" class="icon-action" height="18" src="./Lorem Ipsum _ Newspress_files/icon18_edit_allbkg.gif" width="18">
					</a>
				</span>
			</div></div>
		</article>
	</div>
	<div style="clear: both;height:20px;"></div>
	<div class="blog-pager" id="blog-pager">
		<span id="blog-pager-older-link">
			<a class="blog-pager-older-link" href="http://newspress2-btemplates.blogspot.in/2013/01/lorem-ipsum_31.html" id="Blog1_blog-pager-older-link" title="Older Post">Older Post</a>
		</span>
		<a class="home-link" href="http://newspress2-btemplates.blogspot.in/">Home</a>
	</div>
	<div class="clear"></div>
	<%= render 'comments' %>
</div>