<div class="post-outer">
  <div class="wrapfullpost">
    <article class="post hentry">
      <a name="6594048573928370354"></a>
      <div id="summary26594048573928370354" class='left'>
        <%= image_tag("Antartic-by-Peter-Rejcek_002.jpg", border: '0', height: '140', width: '180') %>
      </div>
      <div class="cover">
        <header class="entry-header">
          <h2 class="post-title entry-title">
            <%= link_to post.title, post %>
          </h2>
          <div class="entry-meta">
            Posted on <time class="entry-date"><%= post.created_at.strftime("%B %d,%Y")%></time><span> by <span class="author vcard">BTemplates</span></span> with <a href="http://newspress2-btemplates.blogspot.in/2013/01/lorem-ipsum_4296.html#comment-form" onclick="">2 comments</a>
          </div>
        </header>
        <div class="post-header-line-1"></div>
        <div class="post-body entry-summary entry">
          <div id="summary6594048573928370354"><div><%= raw strip_tags truncate(post.content, length: 180) %></div></div>
          <div style="clear: both;"></div>
        </div>
        <div style="clear: both;"></div>
        <footer class="entry-meta">
          This entry was posted in : <a href="http://newspress2-btemplates.blogspot.in/search/label/Lorem%201" rel="tag">Lorem 1</a>, <a href="http://newspress2-btemplates.blogspot.in/search/label/Lorem%202" rel="tag">Lorem 2</a>, <a href="http://newspress2-btemplates.blogspot.in/search/label/Lorem%203" rel="tag">Lorem 3</a>
        </footer>
        <div style="float:right;padding-right:10px;margin-top:10px;">
          <a class="morer" href="">Read More</a>
        </div>
      </div>
      <div class="post-footer">
        <div class="post-footer-line post-footer-line-"></div>
        <div class="post-footer-line post-footer-line-2"></div>
        <div class="post-footer-line post-footer-line-3">
                        <!-- <span class="item-control blog-admin pid-1592311861">
                        <a href="https://www.blogger.com/post-edit.g?blogID=4285083475741806618&amp;postID=6594048573928370354&amp;from=pencil" title="Edit Post"> -->
                            <!-- <img alt="" class="icon-action" src="Newspress_files/icon18_edit_allbkg.gif" height="18" width="18">
                            <%#= image_tag('icon18_edit_allbkg.gif', height: "18", width: "18")%> -->
                          <!-- </a>
                        </span> -->
                      </div>
                    </div>
                  </article>
                </div>
                <div style="clear: both;height:20px;"></div>
              </div>