<div class="widget-area grid_2 omega" id="secondary" role="complementary">
  <div class="sidebar">
    <div class="sidebartop section" id="sidebartop">
    
    
    <%= render 'blogger_template'%>
    <%= render 'recent_posts', post: Post.last %>

    <%= render 'blogger_news'%>
    
    <%= render 'category', categories: @categories %>

    </div>
  </div>
</div><!-- #secondary .widget-area -->