@font-face {
  font-family: 'Actor';
  font-style: normal;
  font-weight: 400;
  src: local('Actor Regular'), local('Actor-Regular'), url(http://fonts.gstatic.com/s/actor/v6/gZ8EM_Gzaq4WRjCimioyzQ.woff) format('woff');
}
